@if (href) {
  <a
    [href]="href"
    [class]="'btn btn-' + variant"
    [attr.target]="href.startsWith('http') ? '_blank' : null"
    [attr.rel]="href.startsWith('http') ? 'noopener noreferrer' : null"
    (click)="onClick(); $event.stopPropagation()"
  >
    @if (label) {
      {{ label }}
    } @else {
      <ng-content></ng-content>
    }
  </a>
} @else {
  <button [type]="type" [class]="'btn btn-' + variant" [disabled]="disabled" (click)="onClick()">
    @if (label) {
      {{ label }}
    } @else {
      <ng-content></ng-content>
    }
  </button>
}

